.current-temperature {
  font-size: 75px;
  text-align: center;
}

.units {
  font-size: 10px;
}

.current-city {
  font-size: 15px;
  text-align: center;
}

.current-date {
  font-size: 10px;
  text-align: center;
}

ul {
  font-size: 10px;
  list-style: none;
  padding-top: 14px;
  text-align: center;
}

#card-2 {
  border-radius: 20px;
  height: 160px;
  margin: 0 1.5px;
  padding: 15px 12px;
  background-color: rgba(255, 255, 255, 1);
}

#card-3 {
  border-radius: 20px;
  height: 160px;
  margin: 0 1.5px;
  padding: 15px 12px;
  background-color: rgba(255, 255, 255, 1);
}

#card-4 {
  border-radius: 20px;
  height: 160px;
  margin: 0 1.5px;
  padding: 15px 12px;
  background-color: rgba(255, 255, 255, 1);
}

#card-5 {
  border-radius: 20px;
  height: 160px;
  margin: 0 1.5px;
  padding: 15px 12px;
  background-color: rgba(255, 255, 255, 1);
}
